<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
	<application android:label="NervaOne" android:icon="@drawable/Icon" android:debuggable="true" android:networkSecurityConfig="@xml/network_security_config" android:largeHeap="true">
		<service android:name=".Services.NervaForegroundService" android:foregroundServiceType="specialUse" android:exported="false">
			<property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="Keeps the Nerva blockchain daemon process running continuously for syncing and mining." />
		</service>

	</application>
</manifest>
