# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: ci-build-artifacts

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
    setup:
        runs-on: ubuntu-latest
        outputs:
            version: ${{ steps.get_version.outputs.version }}
        steps:
          - uses: actions/checkout@v4
          - name: Extract NervaOne Version
            id: get_version
            shell: bash
            run: |
                version=$(awk '/public const string Version = /{ print $6 }' < ./NervaOneWalletMiner/Helpers/GlobalData.cs)
                export version=$(echo ${version} | tr -d '";')
                echo "version=$version" >> $GITHUB_OUTPUT

# ================================
#              Windows
# ================================
    build-windows:
        needs: setup
        runs-on: windows-latest
        strategy:
            matrix:
                rid: ["win-x64", "win-arm64"]

        steps:
          - name: Checkout Repository
            uses: actions/checkout@v4

          - name: Setup .NET
            uses: actions/setup-dotnet@v4
            with:
                dotnet-version: 8.0.x

          - name: Restore Dependencies
            run: |
                cd ./NervaOneWalletMiner.Desktop
                dotnet restore

          - name: Build for Windows
            run: |
                cd ./NervaOneWalletMiner.Desktop
                dotnet publish NervaOneWalletMiner.Desktop.csproj -c release -r ${{ matrix.rid }} -p:publishsinglefile=true

          - name: Remove PDB Files
            run: Remove-Item -Path "./NervaOneWalletMiner.Desktop/bin/release/net8.0/${{ matrix.rid }}/publish/*.pdb" -Force -ErrorAction SilentlyContinue
            shell: pwsh

          - name: Upload Windows Artifacts
            uses: actions/upload-artifact@v4
            with:
                name: nervaone-desktop-v${{ needs.setup.outputs.version }}-${{ matrix.rid }}
                path: |
                    ./NervaOneWalletMiner.Desktop/bin/release/net8.0/${{ matrix.rid }}/publish/*
                    !./NervaOneWalletMiner.Desktop/bin/release/net8.0/${{ matrix.rid }}/publish/*.pdb

# ================================
#              Linux
# ================================
    build-linux:
        needs: setup
        runs-on: ubuntu-latest
        strategy:
            matrix:
                rid: ["linux-x64", "linux-arm64"]

        steps:
          - name: Checkout Repository
            uses: actions/checkout@v4

          - name: Setup .NET
            uses: actions/setup-dotnet@v4
            with:
                dotnet-version: 8.0.x

          - name: Install Dependencies
            env:
                DEBIAN_FRONTEND: noninteractive
                NEEDRESTART_MODE: l
            run: |
                sudo apt update
                sudo apt-get install -y zip libfuse2t64

          - name: Restore Dependencies
            run: |
                cd ./NervaOneWalletMiner.Desktop
                dotnet restore

          - name: Build for Linux
            run: |
                cd ./NervaOneWalletMiner.Desktop
                dotnet publish NervaOneWalletMiner.Desktop.csproj -c release -r ${{ matrix.rid }} -p:publishsinglefile=true

          - name: Create Artifact Directories
            shell: bash
            run: |
              mkdir -p ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop/Contents
              mkdir -p ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop/Resources

          - name: Copy Icons and Files
            run: |              
              cp ./Builder/logos/nerva-logo-color.png ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop/Resources/nerva-logo-color.png
              cp ./Builder/logos/nerva-logo-color-2.png ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop/Resources/nerva-logo-color-2.png
              cp ./NervaOneWalletMiner.Desktop/bin/release/net8.0/${{ matrix.rid }}/publish/* ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop/Contents/
              cp ./Builder/install ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop/install
              chmod +x ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop/install

          - name: Upload Artifacts
            uses: actions/upload-artifact@v4
            with:
                name: nervaone-desktop-v${{ needs.setup.outputs.version }}-${{ matrix.rid }}
                path: ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop/*

# ================================
#              macOS
# ================================
    build-macos:
        needs: setup
        runs-on: macos-latest
        strategy:
            matrix:
                rid: ["osx-x64", "osx-arm64"]

        steps:
          - name: Checkout Repository
            uses: actions/checkout@v4

          - name: Setup .NET
            uses: actions/setup-dotnet@v4
            with:
                dotnet-version: 8.0.x

          - name: Restore Dependencies
            run: |
                cd ./NervaOneWalletMiner.Desktop
                dotnet restore

          - name: Build for MacOS
            run: |
                cd ./NervaOneWalletMiner.Desktop
                dotnet publish NervaOneWalletMiner.Desktop.csproj -c release -r ${{ matrix.rid }} -p:publishsinglefile=true                

          - name: Create Artifact Directories
            run: |
              mkdir -p ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop.app/Contents
              mkdir -p ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop.app/Contents/MacOS
              mkdir -p ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop.app/Contents/Resources

          - name: Generate Plist
            run: |
              plist=$(sed -e "s/{APP_VERSION}/0.8.4.0/" -e "s/{DISPLAY_NAME}/NervaOne/" ./Builder/Info.plist.template)
              echo "$plist" > ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop.app/Contents/Info.plist

          - name: Copy Icons and Launcher
            run: |
              cp ./Builder/logos/nerva-logo-color.icns ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop.app/Contents/Resources/nerva-logo-color.icns
              cp ./Builder/logos/nerva-logo-color-2.icns ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop.app/Contents/Resources/nerva-logo-color-2.icns
              cp -R ./NervaOneWalletMiner.Desktop/bin/release/net8.0/${{ matrix.rid }}/publish/* ./NervaOneWalletMiner.Desktop/bin/NervaOneDesktop.app/Contents/MacOS/

          - name: Upload Artifacts
            uses: actions/upload-artifact@v4
            with:
                name: nervaone-desktop-v${{ needs.setup.outputs.version }}-${{ matrix.rid }}
                path: |
                  ./NervaOneWalletMiner.Desktop/bin/*
                  !./NervaOneWalletMiner.Desktop/bin/release/